# Problem 1

In [1]:
import numpy as np
import random as rd
import math as mt
import itertools

## We prepare 12 cups: 8 tea-first and 4 milk-first. A participant claims they can tell which was poured first.

In [2]:
# Number of cups of tea in total.
no_cups = 12

# Number of cups of tea with tea first.
no_cups_tea_first = 8

# Number of cups of tea with milk first.
no_cups_milk_first = 4

### Formula math.comb()

math.comb(n,k) where k is a number of elements we chose out of n - a total number of elements.

Calculate the number of ways to choose 8 cups from 12 where the order does not matter and no element is selcted more than once.

Combination to calculate the number of ways to select.

In [3]:
# Number of ways of selecting 8 cups from twelve.
ways = mt.comb(no_cups, no_cups_tea_first)

# Show.
ways

495

Label the twelve cups of the tea 1, 2,3, 4, 5, 6, 7, 8, 9, 10, 11 and 12.
We select 8 cups to have tea first.

In [4]:
# Number of cups of tea in total.
n = 12

In [5]:
# Number of cups of tea with tea first.
k = 8

## Ordering resuls.
https://docs.python.org/3/library/itertools.html#itertools.combinations